<p *ngIf="!usuarios"><em>Carregando...</em></p>

<div class="card">
    <div class="card-header">
        App Cadastro
    </div>
    <div class="card-body">
        <h5 class="card-title">Usuários</h5>      
        
        <mat-form-field style="margin-right: 20px;">
            <input matInput placeholder="Filtro por nome" [(ngModel)]="filtro.nome">
        </mat-form-field>
        <mat-form-field style="margin-right: 20px;">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="filtroStatus">
                <mat-option *ngFor="let status of tiposStatus" [value]="status.statusId">
                {{status.descricao}}
                </mat-option>
            </mat-select>            
        </mat-form-field>

        <div>
            <button mat-button (click)="filtrar()">filtrar</button>
        </div>

        <div class="commands text-right" *ngIf="usuarios" style="margin-bottom: 10px;">
            <button type="button"
            [routerLink]="['/usuario']"
            class="btn btn-success"> Adicionar</button>
        </div>
        
        <table mat-table [dataSource]="usuarios" class="mat-elevation-z8" [hidden]="!usuarios">
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let usuario">{{ usuario.nome }}</td>
            </ng-container>    
            <ng-container matColumnDef="dataNascimento">
                <th mat-header-cell *matHeaderCellDef>Nascimento</th>
                <td mat-cell *matCellDef="let usuario">{{ usuario.dataNascimento | date:"dd/MM/yyyy" }}</td>
            </ng-container>    
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let usuario">{{ usuario.email }}</td>
            </ng-container>    
            <ng-container matColumnDef="senha">
                <th mat-header-cell *matHeaderCellDef>Senha</th>
                <td mat-cell *matCellDef="let usuario">{{ usuario.senha }}</td>
            </ng-container>    
            <ng-container matColumnDef="sexo">
                <th mat-header-cell *matHeaderCellDef>Sexo</th>
                <td mat-cell *matCellDef="let usuario">{{ usuario.sexo.descricao }}</td>
            </ng-container>    
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let usuario">{{ usuario.ativo | usuarioStatus }}</td>
            </ng-container>    
            <ng-container matColumnDef="acoes">
                <th mat-header-cell style="text-align: center;" *matHeaderCellDef>Ações</th>
                <mat-cell *matCellDef="let usuario" style="vertical-align: baseline;">                    
                    <a matTooltip="Editar" matTooltipPosition="left" [routerLink]="['/usuario', usuario.usuarioId]"><i class="material-icons">edit</i></a> 
                    <a matTooltip="Excluir" style="cursor: pointer" matTooltipPosition="right" (click)="openDialog(usuario.nome, usuario.usuarioId)"><i class="material-icons">delete</i></a>
                </mat-cell>                
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
        </table>        
    </div>
</div>
